{% extends "layout.html" %}

{% block body %}


        <h3>HAKKIMIZDA</h3>
        <hr>
        <p>Merhaba ben Yunus Emre Kılıç. 1996 Kocaeli doğumluyum. Eğitim hayatımı 3 ay  önce Fırat Üniversitesi Yazılım Mühendisliği bölümünden mezun olarak bitirdim. Ekip çalışmasında uyumlu ve yararlı olmak için elimden gelenin en iyisini yapacağımdan ve zorlu iş sürecinde kendime ve sizlere yararlı bir çalışan olacağımdan emin olabilirsiniz. Bu alanda kendimi geliştirmek istiyorum. Bu işin ve bu aşkın bir parçası olmak benim şuan için en büyük hedeflerim arasında yer almaktadır.
        </p>



{% endblock body %}